/*
 *
 * Carousels
 */
$carousel-overflow--max-width: 1170px;
.carousel-overflow--outline{
  content: '';
  position: absolute;
  width: 95%;
  max-width: $carousel-overflow--max-width;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;
  border: 1px solid #ddd;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-overflow{
  position: relative;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  .carousel-inner{
    // display: flex;
    position: relative;
    overflow: hidden;
    overflow-x: auto;
  }
  .card{
    @media(min-width: $screen-md){
      min-width: 350px;
      // max-width: 405px;
    }
    @media(max-width: $screen-md){
      min-width: 30vw;
    }
    @media(max-width: $screen-sm){
      min-width: 50vw;
    }
    @media(max-width: $screen-xs){
      min-width: 80vw;
    }
  }
}
.carousel{
  .carousel-inner{
    overflow: hidden;
    overflow-x: auto;
  }
  .carousel-item{
    position: relative;
    float: left;
  }
}
.carousel-inner{
  // display: flex;
  .card{
    position: relative;
    // max-width: 405px;
    margin: 0 5px 10px;
  }
}

/*
 *
 * SLICK CAROUSEL
 */
#slider-arrows--container{
  position: relative;
}
.slick-prev, .slick-next{
  &:before{
    font-size: 70px;
  }
}
