//
// Figures
// --------------------------------------------------

// Base class
figure, .figure{
  background-color: transparent;
  .figure-body {
    padding: $panel-body-padding;
  }
  &.figure-tint{
    &:after{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0,0,0,.85);
    }
    &.figure-tint--white:after{
      background-color: rgba(255,255,255,.85);
    }
  }
  &.figure--desaturate{
    filter: grayscale(100%);
  }
}
.figure-base{
  height: 0;
  padding-bottom: 45%;
  position: relative;
}
