/*
 *
 * Navigation
 */

nav{

}
.navbar-brand{
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px){
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.navbar-default{
  background-color: transparent;
  border: 0;
}

.navbar-stroke--top{
  border-top: 2px solid $gray-light;
}
.navbar-stroke--bottom{
  transition: border-bottom .2s ease-in-out;
  border-bottom: 2px solid $gray-light;
}

#nav-primary{
  width: 100%;
  left: 0;
  position: relative;
  z-index: 50;
  background-color: transparent;
  transition: all .2s ease-in-out;
  .navbar{
    margin-bottom: 0;
  }
  &.sticky{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 200;
    background-color: rgba($card-bg, .9875);
    .navbar-stroke--bottom{
      border-color: transparent;
    }
  }
}

.primary-navigation--container{
  @extend .jumbotron;
  margin-bottom: 0;
  padding-bottom: 0;
}
