/*
 * 
 * Text-rule
 */

.text-rule{
  padding: $padding-base-vertical 0;
  position: relative;
  &.text-rule--above{
    &:before{
      content: '';
      position: absolute;
      transform: translateY(-1.75rem);
      width: 100%;
      height: 0.75rem;
      background-color: $color1;
    }
  }
  &.text-rule--below{
    &:before{
      content: '';
      position: absolute;
      transform: translateY(1.75rem);
      width: 100%;
      height: 0.75rem;
      background-color: $color1;
    }
  }
}
