{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "ecmaFeatures": {
    "globalReturn": false,
    "classes": true,
    "jsx": true,
    "arrowFunctions": true,
    "modules": true,
    "templateStrings": true,
    "blockBindings": true
  },
  "rules": {
    "strict": 0,
    "quotes": [1, "single"],
    "no-trailing-spaces": false,
    "no-extra-boolean-cast": 2,
    "no-var": 2
  }
}
