//
// Figures
// --------------------------------------------------

// Base class
.figure{
  background-color: $figure-bg;
}
.figure-base{
  height: 0;
  padding-bottom: 45%;
  position: relative;
}
.figure{
  .figure-body {
    padding: $panel-body-padding;
  }
  &.--tint{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0,0,0,.85);
    }
    &.--white:after{
      background-color: rgba(255,255,255,.85);
    }
  }
  &.--desaturate{
    filter: grayscale(100%);
  }
}
