$icon-font-path: '../fonts/';
@import 'variables';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

html, body{
  // height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/** HELPERS **/
@import 'helpers/bootstrap-flex-grid';
.no-border-radius { border-radius: 0; }
@import 'helpers/positioning';
@import 'helpers/fills';

/** COMPONENTS **/
@import 'components/navigation';
@import 'components/images';
@import 'components/carousels';
@import 'components/cards';
@import 'components/figures';
@import 'components/text-rule';
@import 'components/buttons';
@import 'components/jumbotron';
section{
  margin-bottom: 2vw;
}
#yield{
  overflow: hidden;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
/** VIEWS **/

.next-page{
  margin-top: 4vw;
  margin-bottom: -10vw;
  padding: 2vw;
  box-shadow: 0 0 5px black;
  border: 2px solid #ccc;
  height: 20vw;
}
.footer-main{
  background: $card-bg;
  padding: 48px 0;
  .footer-content{
  }
  .footer-heading{
    font-size: 24px;
    color: white;
    font-weight: bolder;
  }
}





























/* Card Modifications */
.card-img-top{ width: 100%; }


// Overflow horizontal scroll component
// .overhor-scroll{
//   $scale: 1.12;//1.0625;
//   position: relative;
//   padding-bottom: 56.7%;
//   margin-bottom: $scale;
//   transition: all 1.2s ease-in-out;
//
//   .overhor-scroll--container{
//     transform: scale($scale,$scale);
//     box-shadow: inset 0 0 1px red;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//   }
// }
//
// .media-grid{
//   position: relative;
//   .media-grid--square{
//     width: 200px;
//     height: 200px;
//     img{
//       width: 100%;
//     }
//   }
// }
